<div class="center hero-unit">
  <h1>Welcome to c3ecom</h1>

  <h2>
    This is the home page for the c3ecom application.
  </h2>
  <h2>
    Premium purveyors of perfect paints, perfumes, powders and I've run out of p-words....
  </h2>
  <% if !signed_in? %>
     <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<%= link_to 'C3 Intranet', 'http://intranet.c3.local/twiki/bin/view/C3' %>
