<div class="center hero-unit">
  <h1>Welcome to Mecca Brands</h1>

  <h2>
    This is the home page for the Mecca Brands ecommerce application.
  </h2>
  <h2>
    Premium purveyors of perfect paints, perfumes, powders and picture perfect product
  </h2>
  <% if !signed_in? %>
     <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<%= link_to 'Mecca Brands Intranet', 'http://intranet.c3.local/twiki/bin/view/C3' %>
