<% provide(:title, 'Load data - MP2') %>
<h2>Load - MP2</h2>


<%= form_tag(controller: 'static_pages', action: 'load_table_mp2', method: "post") do %>
    <!-- Form Name -->
    <legend>Choose a table to load!</legend>
    File needs to be in w:/demand/, with a name that matches the table, an extension of csv and no spaces </p>
      Example: w:/demand/fct_event_fc.csv </p>
      All upload tables are truncated (emptied) prior to load </p>
        <%=select_tag "select_table",
          "<option> c3demand.fct_pre_launch_new_fc_inputs_mp2_upload </option>
            <option> c3demand.fct_pre_launch_new_mp2_upload </option>
            <option> c3demand.fct_pre_launch_new_tester_mp2_upload </option>
            <option> c3demand.fct_le_fc_inputs_mp2_upload </option>
            <option> c3demand.fct_le_item_forecast_mp2_upload </option>
            <option> c3demand.fct_le_tester_fc_mp2_upload </option>
            <option> c3demand.fct_post_launch_adj_hist_mp2_upload </option>
            <option> c3demand.fct_post_launch_new_mp2_upload </option>
            <option> c3demand.fct_post_launch_new_tester_mp2_upload </option>
            <option> c3demand.fct_post_launch_le_fc_mp2_upload </option>
            <option> c3demand.fct_event_fc_inputs_mp2_upload </option>
            <option> c3demand.fct_event_fc_mp2_upload </option>
            <option> c3demand.fct_base_replen_fc_item_format_mp2_upload </option>
            <option> c3demand.fct_replen_tester_fc_mp2_upload </option>
            <option> c3demand.fct_promo_uplift_fc_inputs_kit_maxima_upload </option>
            <option> c3demand.fct_promo_uplift_fc_kit_maxima_upload </option>".html_safe, class: "input-xlarge"
         %>

       <div>
         <%= submit_tag 'Load me!', class: 'btn btn-warning btn-large' %>
       </div>

<% end %>


