<% provide(:title, 'Load data') %>
<h2>Load</h2>


<%= form_tag(controller: 'static_pages', action: 'load', method: "post") do %>
    <!-- Form Name -->
    <legend>Choose a table to load!</legend>
    File needs to be in w:/demand/, with a name that matches the table, an extension of csv and no spaces </p>
      Example: w:/demand/fct_event_fc.csv </p>
        <%=select_tag "select_table",
          "<option> c3demand.dim_c3_seeded_hist </option>
          <option> c3demand.fct_base_replen_fc </option>
          <option> c3demand.fct_base_replen_fc_item_format </option>
          <option> c3demand.fct_brand_forecast_splits </option>
          <option> c3demand.fct_brand_plan_splits </option>
          <option> c3demand.fct_event_fc </option>
          <option> c3demand.fct_fc_reco_adjustments </option>
          <option> c3demand.fct_forecast_same_store </option>
          <option> c3demand.fct_forecastcosts </option>
          <option> c3demand.fct_forecastitemmaster </option>
          <option> c3demand.fct_forecastprices </option>
          <option> c3demand.fct_forecastprices_dept </option>
          <option> c3demand.fct_forecastunits </option>
          <option> c3demand.fct_forecastunits_dept </option>
          <option> c3demand.fct_fpro_fc_overrides </option>
          <option> c3demand.fct_fpro_hot_list </option>
          <option> c3demand.fct_future_ranged_store_change </option>
          <option> c3demand.fct_item_gross_ups </option>
          <option> c3demand.fct_item_transition </option>
          <option> c3demand.fct_le_fc_inputs </option>
          <option> c3demand.fct_le_item_forecast </option>
          <option> c3demand.fct_le_tester_fc </option>
          <option> c3demand.fct_order_replen </option>
          <option> c3demand.fct_planned_store_rng </option>
          <option> c3demand.fct_post_launch_adj_hist </option>
          <option> c3demand.fct_post_launch_le_fc </option>
          <option> c3demand.fct_post_launch_new </option>
          <option> c3demand.fct_post_launch_new_tester </option>
          <option> c3demand.fct_pre_launch_new </option>
          <option> c3demand.fct_pre_launch_new_tester </option>
          <option> c3demand.fct_prelaunch_new_fc_inputs </option>
          <option> c3demand.fct_promo_up_fc </option>
          <option> c3demand.fct_promo_uplift_fc_inputs </option>
          <option> c3demand.fct_replen_sales_hist </option>
          <option> c3demand.fct_replen_supplies_fc </option>
          <option> c3demand.fct_replen_tester_fc </option>
          <option> c3demand.fct_seasonality </option>
          <option> c3demand.fct_total_bu_forecast </option>
          <option> c3demand.fct_total_gu_item_format_fc </option>
          <option> c3demand.fct_forecast_same_store </option>
          <option> c3demand.fct_post_launch_le_fc </option>
          <option> c3dss.fct_event_forecast </option>
          <option> c3dss.fct_brand_event_plan </option>
          <option> c3dss.fct_brand_header_element </option>
          <option> c3dss.fct_brand_plan </option>
          <option> c3dss.fct_brand_plan_header </option>
          <option> c3dss.fct_brand_plan_header_element </option>
          <option> c3dss.fct_planned_store </option>
          <option> c3dss.fct_planned_vendor </option>
          <option> c3dss.fct_store_forecast_raw </option>
          <option> c3dss.fct_store_plan </option>
          <option> c3dss.fct_store_plan_header </option>
          <option> c3dss.fct_store_plan_header_element </option>
          <option> c3dss.fct_store_sales_weight </option>
          <option> c3dss.fct_store_ranging_weight </option>
          <option> c3dss.fct_new_store_ranging </option>
          <option> c3dss.fct_brand_forecast_raw </option>".html_safe, class: "input-xlarge"
         %>

       <div>
         <%= submit_tag 'Load me!', class: 'btn btn-warning btn-large' %>
       </div>

<% end %>


