<% provide(:title, 'Load secret shopper data') %>
<h2>Load</h2>


<%= form_tag(controller: 'static_pages', action: 'load_secret', method: "post") do %>
    <!-- Form Name -->
    <legend>Choose a table to load!</legend>
    File needs to be in w:/secretshopper/, with a name that matches the table, an extension of csv and no spaces </p>
      Example: w:/secretshopper/fct_secret_shopper.csv </p>
        <%=select_tag "select_table",
          "<option> c3dss.fct_secret_shopper </option>".html_safe, class: "input-xlarge"
         %>

       <div>
         <%= submit_tag 'Load me!', class: 'btn btn-warning btn-large' %>
       </div>

<% end %>


