<% provide(:title, 'Truncate - Finance') %>
<h2>Truncate - Mecca</h2>

<%= form_tag(controller: 'static_pages', action: 'truncate_table_finance', method: "post") do %>
    <!-- Form Name -->
    <legend>Choose a table to truncate! (Remember this is not reversable)</legend>

        <%=select_tag "select_table",
          "<option> c3dss.dim_brandcogs_target </option>
           <option> c3dss.dim_target </option>
           <option> c3dss.fct_budget_hours </option>
           <option> c3dss.fct_discontinued </option>
           <option> c3dss.fct_slowmoving   </option>
           <option> c3dss.fct_terminated   </option>
          ".html_safe, class: "input-xlarge"
         %>

       <div>
         <%= submit_tag 'Go ahead, truncate my day.', data: {confirm: 'Are you sure?'}, class: 'btn btn-warning btn-large' %>
       </div>

<% end %>


