<% provide(:title, 'Unlock an Order') %>
<h2>Unlock Order</h2>


<%= form_tag(controller: 'static_pages', action: 'unlock_the_order', method: "post") do %>
    <!-- Form Name -->
    <legend>Enter an order to unlock!</legend>
        Unlocking an order will change it's status in OMS to unlocked and </p>
        change it's status in c3ecom to 55. No further proeccsing in c3ecom will be possible.</p>
        You will have to manually process everything - rpro, freight, gift cards/messages. </p>
    <%= label_tag(:order_to_unlock, "Order #:") %> <%= text_field_tag(:order_to_unlock) %>
    <div>
       <%= submit_tag 'Unlock me!', class: 'btn btn-warning btn-large', :confirm => 'Are you certain you wish to unlock this order?' %>
    </div>

<% end %>


