<%= provide(:title, @pick_paths.bin_name) %>
<h2>
  <%= @pick_paths.bin_name %>
</h2>
<table class="table">
  <tr>
    <th>Bin Code</th>
  </tr>
  <tr>
    <td> <%= @pick_paths.pick_order %>  </td>
  </tr>
</table>