<% if @fct_vendor_axima_leadtimes.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@fct_vendor_axima_leadtimes.errors.count, "error") %>.
      </div>
      <ul>
        <% @fct_vendor_axima_leadtimes.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>