<%= provide(:title, @direct_bin_contents.item_code) %>
<h2>
  <%= @direct_bin_contents.item_code %>
</h2>
<table class="table">
  <tr>
    <th>Bin Code</th>
  </tr>
  <tr>
    <td> <%= @direct_bin_contents.bin_name %>  </td>
  </tr>
</table>